

<button (click)="onSave()">Save</button>

<div class="album-wrapper">

    <input 
        type="search" 
        name="" 
        id=""
        (keyup)="searchPics()"
    >

<ng-container *ngFor = "let n of albumArray; let index = index">

    <app-album-picture
        [title]="albumArray[index]['title']"
        [thumb]="albumArray[index]['thumbnailUrl']"
        [imgUrl]="albumArray[index]['url']"
        [imgId]="albumArray[index]['id']"
        (onDeletePic)="deletePic($event)"
    ></app-album-picture>

</ng-container>

</div>

<!-- [title]="albumArray[index]['title']"
        [author]="getUserName(albumArray[index]['userId'])"
        [albumLink]="albumArray[index]['id']" -->